body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Personal Website Styles */
html {
  font-family: "Work Sans", sans-serif;
  width: 98vw;
  height: 100vh;
  max-width: 100%;
}
li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  color: black;
  padding: 0;
  margin: 0;
}

*:hover {
  transition: 0.3s;
}

.fa-github {
  content: url("./media/github-logo.svg.png");
}

.fa-github-white {
  content: url("./media/github-logo-white.png");
}

.fa-web {
  content: url("./media/website_logo.png");
}

.fa-web-white {
  content: url("./media/website-logo-white.png");
}

.icon {
  height: 2rem;
}

.loading-container {
  width: 80%;
  margin: 10rem auto;
  
}

.loading-container h1 {
  text-align: center;
}

header {
  height: 5rem;
  width: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  margin: auto;
}

main {
  margin-top: 10rem;
  justify-content: center;
  display: flex;
}

/*New Projects Page Styles*/
.projects__container {
  display: flex;
  padding: 75px 0;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.section__title {
  text-align: center;
}

.project {
  margin-bottom: 120px;
  max-width: 35rem;
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

.project__img {
  width: 100%;
  max-width: 40rem;
  transition: all 500ms ease;
  margin: 0 auto;
}

.project__wrapper {
  display: flex;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  position: relative;
}
.row {
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
}

.project__list {
  width: 100%;
  padding-top: 40px;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
  z-index: 2;
  transform: translateY(100%);
}
.project:hover .project__wrapper:before {
  transform: translateY(0);
  opacity: 0.7;
}
.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 50px;
  padding-right: 30px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description--title {
  font-size: 2rem;
}

.project__description--para {
  margin: 14px 0;
}

.project__description--link {
  font-size: 1.5rem;
  margin-right: 16px;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: #fff;
}

#contact-info {
  display: flex;
  margin-top: 8rem;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.mb-3 {
  margin: 2rem 3rem;
}

#contact-options {
  margin-left: 5ch;
}

#contact-text {
  margin-top: 5rem;
}

.heading-info {
  text-align: center;
  font-size: 24px;
  display: inline-flex;
  width: 100%;
  margin-top: 5rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-text {
  margin-right: 2rem;
}

.heading-info img {
  align-self: center;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  border: 2px solid #304e7e;
}

.heading-info h3 {
  color: gray;
  font-size: 20px;
  margin-bottom: 2rem;
}

.main-navigation {
  grid-area: 1 / 1 / 1 / 1;
  display: inline-flex;
  margin: auto;
  margin-right: 1rem !important;
}
.main-navigation li {
  list-style-type: none;
  margin: 0 10px 0 10px;
  text-decoration: none;
  border: 1px solid white;
  padding: 8px;
  background-color: #90d1ff;
  border: 2px solid #304e7e;
}
.main-navigation li:hover {
  background-color: #77c7ff;
}

li,
a {
  color: black !important;
}

#view-projects {
  background-color: #90d1ff;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
  margin-bottom: 3rem;
  border: 2px solid #304e7e;
}

#view-projects:hover {
  background-color: #77c7ff;
}

/* Bootstrap Dropdown */
.dropdown {
  top: 25%;
  display: none;
  justify-self: flex-end;
  margin-right: 2rem;
  border-radius: 0 !important;
}

#dropdown-basic {
  background-color: #90d1ff;
  color: black;
  border-radius: 0;
  border: 2px solid #304e7e;
  padding: 10px 14px;
}

#dropdown-basic:hover {
  background-color: #77c7ff;
}

#dropdown-basic:focus {
  box-shadow: none;
}

.contact__form {
  width: 30rem;
  background-color: #f2f2f2;
  margin-top: -5rem;
  margin-left: 10rem;
  border: 2px solid #304e7e;
}

.form__button {
  margin: 1rem !important;
  justify-self: center;
  color: black !important;
  border-radius: 0 !important;
  background-color: #90d1ff !important;
  border: 2px solid #304e7e !important;
}

.contact__page {
  display: inline-flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1100px) {
  .project-image {
    width: 22rem;
    height: 12rem;
  }

  .project-container {
    width: 22rem;
  }
}

@media only screen and (max-width: 880px) {
  .contact__page {
    flex-direction: column;
    margin-top: -5rem;
  }

  .contact__form {
    margin-left: 0;
    margin-top: 2rem;
  }
  #contact__title {
    text-align: center;
  }
}

@media only screen and (max-width: 780px) {
  .dropdown {
    display: inline-block;
  }

  .main-navigation {
    display: none;
  }
}

@media only screen and (max-width: 715px) {
  #heading-info {
    flex-direction: column;
    margin-top: -4rem;
    width: 100%;
  }

  #heading-info img {
    margin: 2rem 0 0 0 !important;
  }

  main {
    margin-left: 0;
    margin-top: 10rem;
  }

  #main-text {
    margin: 0;
  }
}

@media only screen and (max-width: 570px) {
  #index-main {
    margin: 1rem !important;
  }

  .contact__form {
    width: 25rem;
  }

  .project__description--title {
    font-size: 1.2rem;
  }
  .project__description--sub-title {
    font-size: 0.7rem;
  }
  .project__description--para {
    font-size: 0.7rem;
  }
  .icon {
    height: 1.3rem;
  }
  .project__description {
    left: 30px;
  }
}

@media only screen and (max-width: 410px) {
  .contact__form {
    width: 20rem !important;
  }
  .contact__form {
    width: 25rem;
  }

  .project__description--title {
    font-size: 1rem;
  }
  .project__description--sub-title {
    font-size: 0.6rem;
  }
  .project__description--para {
    font-size: 0.5rem;
    margin: 7px 0;
  }
  .icon {
    height: 1.2rem;
  }
  .project {
    margin-bottom: 60px;
  }
}
